
.on{
    display: inline-block;
   margin-right: 100px;
}
.no{
    display: inline-block;
    margin-right: 15px;
}
.on2{
    
        display: inline-block;
        margin-right: 15px;
    
}
.on3{
    display: inline-block;
    margin-right: 15px;

}
.on4{
    display: inline-block;
    margin-right: 15px;

}
.on5{
    display: inline-block;
    margin-right: 15px;

}